{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VideoNet{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Archivo CSS personalizado -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'video_list' %}">VideoNet</a>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'video_list' %}">
            {{ search_form.query|add_class:"form-control mr-sm-2" }}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-4">
        <p>2024 VideoNet.</p>
    </footer>
</body>
</html>